<div class="group-header">Encounters</div>
<table mat-table matSort [dataSource]="encounterListDataSource" width="100%" matSortActive="startDateText"
  matSortDirection="asc">
  <ng-container matColumnDef="apptType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="apptType">Appointment Type</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.apptType}} </td>
  </ng-container>

  <ng-container matColumnDef="serviceType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="serviceType">Service Type</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.serviceType}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.status}} </td>
  </ng-container>

  <ng-container matColumnDef="startDateText">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="startDateText">Start Date</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.startDateText}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="endDateText">End Date</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.endDateText}} </td>
  </ng-container>

  <ng-container matColumnDef="participant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="paticipant">Participant</th>
    <td mat-cell *matCellDef="let encounter"> {{encounter.participant}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

</table>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" [pageSize]="20" showFirstLastButtons></mat-paginator>
