<div class="assessment-section">
  <h3>{{ assessmentData.title }}</h3>
  <mat-accordion>
    <mat-expansion-panel [expanded]="false" *ngFor="let assessment of assessmentData.responses">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="display: flex; justify-content: space-between; width: 100%;">
            <span>{{ assessment.date }}</span>
            <span *ngIf="assessment.score">Score = {{ assessment.score.value}} ({{ assessment.score?.interpretation }})</span>
          </span>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="resultTable" width="100%" valign="top">
        <tr class="resultTableHeader">
          <td><b>Question</b></td>
          <td><b>Answer</b></td>
        </tr>
        <tr *ngFor="let item of assessment.questions">
          <td>{{ item.question }}</td>
          <td>{{ item.answer }}</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
